.ancho-fecha{
	width:25%;
}

.cabecera{
	background: #222;
	color:white;
	font-size:16px;
}

.tabla
{
	border:1px solid #ccc;
	width: 75%;
	margin:0 auto;
	padding:0;
	border-spacing: 1px solid #ccc;
}
.tabla td, table th{
	padding:5px;
	text-align:center;
}

.tabla th{
	font-family:8px;
	letter-spacing:1px;
}
.tabla tr{
	border:1px groove;
}

.qw table { 
table-layout: fixed; 
} 

.rojo{
	cursor:pointer;
    background-color: #ec5367;
}
.refresh{
	font-size: 17px;
}
.refresh:hover{
	cursor: pointer;
	font-size: 22px;
}
.refresh:hover{
	color: skyblue;
}

.refresh:active{
	color:#337ab7;
}
td:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;	
	outline: rgb(91, 157, 217) auto 5px;
}
td select:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;	
	outline: rgb(91, 157, 217) auto 5px;
} 
.editable span{display:block;}
.editable span:hover {background:url(../img/edit.png) 90% 80% no-repeat;cursor:pointer}
.input{height:24px;width:200px;border:1px solid #ddd;padding:0 5px;margin:0;border-radius:6px;vertical-align:middle}
/*a.enlace{display:inline-block;width:24px;height:24px;margin:0 0 0 5px;overflow:hidden;text-indent:-999em;vertical-align:middle}*/

.mensaje{display:block;text-align:center;margin:0 0 20px 0}
.ok{display:block;padding:10px;text-align:center;background:green;color:#fff}
.ko{display:block;padding:10px;text-align:center;background:red;color:#fff}
/*Tablas con un tamaño fijo de celda se incrfementa pero mantiene su ancho*/

.qw td { 
/*border: 1px solid black; */
padding: 4px; 
white-space: pre; /* CSS 2.0 */ 
white-space: pre-wrap; /* CSS 2.1 */ 
white-space: pre-line; /* CSS 3.0 */ 
white-space: -pre-wrap; /* Opera 4-6 */ 
white-space: -o-pre-wrap; /* Opera 7 */ 
white-space: -moz-pre-wrap; /* Mozilla */ 
white-space: -hp-pre-wrap; /* HP */ 
word-wrap: break-word; /* IE 5+ */ 
} 



.calificar{background:url(img/calificar.png) 90% 80% no-repeat; display:block;}
.calificar span:hover {cursor:pointer;}
/*Para centrar nuestro logo*/
.logo{
    margin-top:0;margin-left: 40%;/*Ponemos al logo en el centro*/
}
.navbar-hader{font-size:19px;}
html
{
    position: relative; 
    min-height: 100%;
}
body
{
    margin: 0 0 65px;
}
footer
{
	text-align:center;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 28px;
}



/*///////////////////////////////////////*/
@media screen and (max-width: 800px){
	.ancho-fecha{
		width:100%;
	}
	table{
		border:0;
	}

	table tr{
		margin-bottom:10px;
		display:block;
		border-bottom:2px solid #ddd;
	}
	table td{
		display:block;
		text-align:right;
		font-size: 15px;
		border-bottom:1px dotted #ccc;
	}

	table td:last-child{
		border-bottom:0;
	}

	table td:before{
		content:attr(data-label);
		float:left;
		text-transform:uppercase;
		font-weight:600;
	}
	
	table thead{
		display:none;
	}

	.input-group-addon .bajar{
		display:block;
	}
    .logo{
        margin: 0 33%;/*Para centrar el logo*/
    }
	
	.imagen-logo{
		width:190px;
		height:61px;
	}
}
@media screen and (max-width: 600px){
	table{
		border:0;
	}

	table tr{
		margin-bottom:8px;
		display:block;
		border-bottom:2px solid #ddd;
	}
	table td{
		display:block;
		text-align:right;
		font-size: 14px;
		border-bottom:1px dotted #ccc;
	}

	table td:last-child{
		border-bottom:0;
	}

	table td:before{
		content:attr(data-label);
		float:left;
		text-transform:uppercase;
		font-weight:600;
	}
	
	table thead{
		display:none;
	}
		.input-group-addon .bajar{
		display:block;
	}
	.imagen-logo{
		width:190px;
		height:61px;
	}

}